@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffc6c8;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}


/*Header*/

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 4rem auto;
}

h1 {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #121911;
    font-size: 60px;
}


/*Main*/

.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100vw;
    gap: 100px;
    margin: 0 auto;
}


/*Sidebar*/

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 30px;
}

.sidebar>button {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.sidebar>button:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.sidebar>button:active {
    position: relative;
    top: 1px;
}


/*Starting div*/

.flex-container {
    border: 1px solid;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.76);
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.76);
}

.flex-row {
    display: flex;
    flex: 1;
}

.flex-item {
    flex: 1;
}

.grid {
    border: 1px solid;
}


/*Hover effect*/

.hover {
    background-color: black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: #140f07;
    margin-top: 100px;
}