body {
    margin: 0;
    padding: 0;
}


/*Starting div*/

.flex-container {
    border: 1px solid;
    height: 40vw;
    width: 40vw;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex: 1;
}

.flex-item {
    border: 1px solid;
    flex: 1;
}